@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap');
.mainscreen{
    min-height: 100vh;
}
.bgred{
    background-color: red;
}
.mxauto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.itemcenter{
    align-items: center;
}
.justifybetween{
    justify-content: space-between;
}
.bold{
    font-weight: bolder;
    font-size: 1.5rem;
}
.sone{
    height: 50vh;
}
.flexcol{
    flex-direction: column;
}
.justifcenter{
    justify-content: center;
}
.myone{
    margin-top: 13px;
    margin-bottom: 13px;
}
.pxone{
    padding-left: 13px;
    padding-right: 13px;
}
.textblue{
    color: rgb(73, 73, 194);   
}
.textblack{
    color: rgb(23, 23, 114);   
}
.btn{
    padding: 4px 12px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 12px;
    background-color:rgb(73, 73, 194);
}
.overflow{
    overflow: hidden;
}
.textcenter{
    text-align: center;
}
.sone h1{
    font-size: 1.5rem;
}
.my2{
    margin-top: 26px;
    margin-bottom: 26px;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
}
.stwo h1{
    font-size: 3rem;
}
.stwo p{
    padding: 0 8vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
}
.box ul{
    list-style-type: none;
}
.box ul li{
    margin: 12px 2px;
}
.highligheted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box h2{
    font-size: 2rem;
    padding: 15px 0;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sthree table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;

}
.sthree h1{
    font-size: 2.3rem;
}
.sthree{
   padding-left: 63px;
   padding-right: 63px;
}
.sthree table th{
    border-bottom: 2px solid black;
    padding: 10px 0;
    width: 23vw;
}
.sthree table td{
    border-bottom: 2px solid black;
    padding: 10px 0;
    width: 23vw;
}
footer{
    padding: 23px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}